---
layout: default
---

<link rel="stylesheet" href="/js/prettify/prettify.css" />
<style type="text/css">
    body { background:#e8e8e8; }
    @media screen and (max-width: 750px){
        body { background:#fff; }
    }
    @media screen and (max-width: 1020px){
        body { background:#fff; }
    }
</style>

<div id="content">
    <div class="entry">
        <h1 class="entry-title"><a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></h1>
        <p class="entry-date">{{ page.date|date:"%Y-%m-%d" }}</p>
        {{ content }}
        <div id="disqus_container">
            <class="comment"/>
<div id="disqus_thread"></div>
<!-- 评论 -->
<!-- <div><a href="javascript:void(0);" onclick="showComment()">我已连接VPN,点击加载评论</a></div> -->
<script>
    // function showComment() {  
    //     var d = document, s = d.createElement('script');
        
    //     s.src = '//linjie-site.disqus.com/embed.js';
        
    //     s.setAttribute('data-timestamp', +new Date());
    //     (d.head || d.body).appendChild(s);
    // };
    
    (function() {  
        var d = document, s = d.createElement('script');
        
        s.src = '//linjie-site.disqus.com/embed.js';
        
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<!-- <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript> -->
        
        </div>
   </div>
   
    <div class="sidenav">
        <h2>Blog</h2>
        <ul class="artical-list">
        {% for post in site.categories.blog%}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>

        <h2>Music</h2>
        <ul class="artical-list">
        {% for post in site.categories.music%}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>

        <h2>Travel</h2>
        <ul class="artical-list">
        {% for post in site.categories.travel%}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>
    </div>
</div>

<script src="/js/post.js" type="text/javascript"></script>
